<section>
	<div class="filters">
		<div>
			<div class="row">
				<div class="dropdowns">
					<div class="dropdown">
						<span>Genre<span ng-click="displayGenre=!displayGenre">&#9660;</span></span>
						<div ng-show="displayGenre">
							<select ng-model="byGenre" ng-show="displayGenre">
						    	<option value="" disabled selected hidden>Select Genre</option>></option>
						    	<option ng-repeat="genre in genres" value="{{genre}}" ng-selected="$first">{{genre}}</option>
							</select>
						</div>
					</div>
					<div class="dropdown">
						<span>Year<span ng-click="displayYear=!displayYear">&#9660;</span></span>
						<div ng-show="displayYear">
							<select ng-model="byYear">
							   <option value="" disabled selected hidden>Select Year</option>></option>
							    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="search">
						<input type="text" ng-model="searchBox">
				</div>
			</div>
			<div class="row">
					<div class="type">
						<input type="radio" ng-model="type" value="movie" name="type">
						<label>Movies</label>
					</div>
					<div class="type">
						<input type="radio" ng-model="type" value="book" name="type">
						<label>Books</label>
					</div>
					<div class="clear-filter">
						<span ng-click="clearFilter()">Clear filters</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="movies">
		<div>
			<div>
				<ul>
					<li ng-if="apiError" class="error">Cannot load data. Please try again later.</li>
					<li ng-show="(movies|filter:searchBox | filter:byYear | filter:byGenre).length == 0" class="error">Sorry no matches were found.</li>
					<li ng-repeat="movie in movies | orderBy:'title' | filter:searchBox | filter:type | filter:byYear | filter:byGenre track by $index">
					<img ng-src="{{movie.poster}}" alt="{{movie.title}}" />
					<p><strong>{{movie.title}} ({{movie.year}})</strong></p>
					<p>Genres: <span ng-repeat="genre in movie.genre">{{genre}} </span></p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>