/*** general styling ***/

html {
	font: 62.5% Arial, Helvetica, sans-serif;
}

	.container {
		margin: 10px 0;
	}

	nav {
		li {
		list-style:none;
		font-size:110%;
		margin:10px 2%;
			a {
				color:#1DA1DB;
				text-transform:uppercase;
				text-decoration:underline;
			}
		}
	}

/*** Testimonial ***/

	.testimonial {
		background:#F9F8F7;
		color:#555555;
		font-size:160%;
		padding:30px 2%;
		div {
			background:transparent url("/assets/images/quote-icon.png") no-repeat top left;
			padding-left:10%;
			max-width:680px;
			margin:0 auto;
			min-height:220px;
			p {
				padding:35px 0;
				line-height:1.4em;
			}
			span {
				font-size:90%;
				font-weight:bold;
			}
		}
	}


/*** CTA ***/

	.cta {
		background:#00444D;
		color:#fff;
		margin:0 auto;
		padding:10px 2%;
		p {
			float:left;
			line-height:1.4em;
			width:74%;
			font-size:140%;
			margin-right:2%;
			min-height:220px;
			&.error {
				font-size:160%;
				text-align:center;
			}
		}
		button {
			color:#fff;
			background:#00A0DF;
			border:none;
			font-size:140%;
			margin-top:35px;
			text-transform:uppercase;
			padding:24px 3em;
			border-radius:3px;
			cursor:pointer;
			font-size:1.2em;
		}
	}

/*** Filterable content ***/

	.filters {
		float:left;
		font-size:120%;
		width:96%;
		padding:10px 2%;
		border:1px solid #dedede;
		.row {
			float:left;
			width:100%;
		}
		.dropdowns {
			display:inline-block;
			width:99%;
			margin:0 1% 24px 0;
			.dropdown {
				display:inline-block;
				background:#f9f9f9;
				border-bottom:2px solid #dedede;
				color:#888;
				text-transform:uppercase;
				padding:12px 1.2rem;
				position:relative;
				width:93%;
				span {
					margin-bottom:10px;
					display:block;
					span {
						cursor:pointer;
						display:inline-block;
						float:right;
						width:20px;
					}
				}
				ul {
					margin:0;
					padding:0;
					li {
						list-style-type:none;
					}
				}
				
			}
		}
		.search {
			float:right;
			width:100%;
			input {
				background:#fff url("/assets/images/search-icon.png") no-repeat center right;
			}
		}
		.search input, select {
				font-size:110%;
				margin-bottom:10px;
				padding:2px 2%;
				height:35px;
				width:94%;
				border:1px solid #dedede;
		}
		select {
			background-color:#fff;
			& option:empty { 
				display:none 
			}
		}
		.type {
			display:inline-block;
			margin-right:1%;
			font-size:120%;
		}
		.clear-filter {
			float:right;
			span {
				color:#1DA1DB;
				text-transform:uppercase;
				text-decoration:underline;
				cursor:pointer;
			}
		}
	}

	.movies {
		border:1px solid #dedede;
		float:left;
		width:100%;
		padding:10px 0;
		ul {
			margin:0 0 0 1%;
			padding:0;
			li {
				font-size:120%;
				list-style:none;
				display:inline-block;
				width:92%;
	    		margin: 0 1%;
	    		&.error {
					font-size:160%;
					text-align:center;
					color:red;
					width:100%;
				}
				p {
					font-size:120%;
					strong {
						font-size:140%;
					}
				}
				img {
					max-width:100%;
					max-height:100%;
				}
			}
		}	
	}

	@media screen and (min-width: 480px) {
	    .movies ul li {
	    	width:48%;
	    } 

	}

	@media screen and (min-width: 800px){
		nav ul li {
			display:inline;
		}

		.filters {
			.dropdowns {
				width:50%;
				.dropdown {
					width:20%;
					span {
						margin-bottom:0px;
					}
					div {
						position:absolute;
						z-index:4;
						background:#f9f9f9;
						border:1px solid #dedede;
						padding:1.4rem 2.4rem;
						width:110px;
						left:0;
						top:52px;
						&:after, .arrow_box:before {
							bottom: 100%;
							left: 10%;
							border: solid transparent;
							content: " ";
							height: 0;
							width: 0;
							position: absolute;
							pointer-events: none;
						}
						&:after {
							border-color: rgba(222, 222, 222, 0);
							border-bottom-color: #f9f9f9;
							border-width: 14px;
							margin-left: -14px;
						}
						&:before {
							border-color: rgba(222, 222, 222, 0);
							border-bottom-color: #dedede;
							border-width: 36px;
							margin-left: -36px;
						}
					}
				}
			}
			.search {
				width:40%;
			}
		}	
		.movies ul li {
	    	width:30%;
	    	img {
	    		max-width:300px;
	    		max-height:400px;
	    	}
	    }
	}		
